Repository terraform-module/terraform-helm-release, pull requests merged in 2022-07, with the labels that each got.

#11 Configure Renovate
  renovate.json
Labels: renovate, deps

#15 chore(deps): update terraform-linters/setup-tflint action to v2 (.github/workflows/linter.yml) (master)
  .github/workflows/linter.yml
Labels: renovate, deps, action, github-tags, major

#14 chore(deps): update actions/checkout action to v3 (.github/workflows/linter.yml) (master)
  .github/workflows/linter.yml
Labels: renovate, deps, action, github-tags, major

#8 Add variable to manage repo lifecycle within TF
  README.md
  main.tf
  variables.tf
  versions.tf
Labels: stale

#13 chore(deps): update actions/cache action to v3 (.github/workflows/linter.yml) (master)
  .github/workflows/linter.yml
Labels: renovate, deps, action, github-tags, major

#17 chore(deps): update pre-commit hook antonbabenko/pre-commit-terraform to v1.74.1 (.pre-commit-config.yaml) (master)
  .pre-commit-config.yaml
Labels: renovate, deps, github-tags, repository, minor
